{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>

                                    <h4 class="header-title m-t-0 m-b-30">Latest Calls</h4>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>CallId</th>
                                                    <th>Sentiment</th>
                                                    <th>Keywords</th>
                                                    <th></th>
                                                    <!-- <th>Service Provider</th> -->
                                                    <th>Intent</th>
                                                    <th>Call Text</th>
                                                    <th>Date</th>
                                                    <th>Duration</th>
                                                    
                                                 </tr>
                                            </thead>
                                            <tbody>
                                                 
                                                    {% for item in calls %}
                                                    <tr> 
                                                        <td>{{ item.callid }}</td>                                                     <td>{{ item.sentiment }}</td>
                                                        <td>{{ item.keywords }}</td>
                                                        <td>{{ item.sp }}</td>
                                                        
                                                        <td>{{ item.intent }}</td>
                                                        <td>{{item.text}}</td>
                                                        <td>{{item.date}}</td>
                                                        <td>{{item.duration}}</td>

                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                             </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end col -->

                        </div>
                        <!-- end row -->




                    </div> <!-- container -->

                </div> <!-- content -->

                

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

{% endblock %}