{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

			<!-- ============================================================== -->
			<!-- Start right Content here -->
			<!-- ============================================================== -->
			<div class="content-page">
				<!-- Start content -->
				<div class="content">
					<div class="container">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Add the caller ID</label>
                                <a href='/docDownload/?eid=1' method='get'>Get</a>                            </div>

                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="text" class="form-control" value="For detailed summary..">
                                </div>
                            </div>

                        </div>
                        <!-- end row -->
                    </div> <!-- container -->

                </div> <!-- content -->

                

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->

{% endblock %}